{{#each listings as |listing| }}
<div class="row align-center mb-5">
	<div class="card">
		<div class="card-header">
			<h2>{{listing.name}}</h2>
		</div>
		<div class="card-body">
			<p>{{listing.description}}</p>
		</div>
	</div>
</div>
{{/each}}
<div>Home page stuff!</div>