<form id="new-form">
		<div class="mb-3">
			<label for="name" class="form-label">Name <small class="text-secondary">(required)</small></label>
			<input type="text" class="form-control" id="name" name="name" value="" placeholder="name">
		</div>
		<div class="mb-3">
			<label for="description" class="form-label">Description <small class="text-secondary">(required)</small></label>
			<textarea class="form-control" id="description" rows="5" name="description" placeholder="description"></textarea>
		</div>
		<div class="mb-3">
			<label for="location" class="form-label"><i class="bi bi-geo-alt-fill"></i> Location <small class="text-secondary">(required)</small></label>
			<input type="text" class="form-control" id="location" name="location" value="" >
		</div>
		<div class="mb-3">
			<label for="image" class="form-label">Image URL <small class="text-secondary">(required)</small></label>
			<input type="text" class="form-control" id="image" name="image" value="">
		</div>
		<div class="mb-3">
			<label for="location" class="form-label">Weight <small class="text-secondary">(grams)</small></label>
			<input type="text" class="form-control" id="weight" name="weight" value="">
		</div>
		<div class="mb-3">
			<label for="height" class="form-label">Height <small class="text-secondary">(cm)</small></label>
			<input type="text" class="form-control" id="height" name="height" value="">
		</div>
		<div class="mb-3">
			<label for="location" class="form-label">Width <small class="text-secondary">(cm)</small></label>
			<input type="text" class="form-control" id="width" name="width" value="">
		</div>
		<div class="mb-3">
			<label for="location" class="form-label">Depth <small class="text-secondary">(cm)</small></label>
			<input type="text" class="form-control" id="depth" name="depth" value="">
		</div>
		<div class="d-flex justify-content-center">
			<button type="submit" class="btn btn-lg btn-block btn-primary mx-2" ><i class="bi bi-heart-fill"></i> Post</button>
		</div>
	</form>
	<script src="/js/new.js"></script>